/*Layout*/
header {
    width: 100%;
    max-height: 60px;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 5px 8px -5px #adadad;
}
header li a {
    padding: 14px;
    display: block;
    text-align: center;
    float: right;

}
header li a:hover {
    background: #414042;
    color: #FFFFFF;
    transition: 0.6s ease all;
}
.logo {
    width: 16%;
    float: left;
}
.logo img {
    margin-left: 20%;
    vertical-align: middle;
    padding: 15px;
}
.menu-header {
    width: 84%;
    max-height: 60px;
    float: right;
}
.menu-header  li  a {
    padding: 20px;
    box-shadow: none;
}
.menu-profile {
    width: 40%;
    float: right;
}
li.menu-profile a {
    padding: 12px;
}
.menu-profile a:focus {
    background: #414042;
    color: #FFFFFF;
}
.menu-profile img {
    width: 25%;
    margin-left: 10px;
}
.profile {
    width: 100%;
    /*top: 60px;*/
    /*position: absolute;*/
    box-shadow: 5px 5px 8px -5px #adadad;
    display: none;
    z-index: 5;
}
.profile li a {
    width: 100%;
    background: #414042;
    color: #FFFFFF;
    text-align: left;
    box-shadow: none;
    display: block;
    padding: 10px;
    font-size: 13px;
    padding-left: 15px;
}
.profile li a:hover {
    background: #080808;
}
.left-content {
    width: 16%;
    height: 100%;
    padding-top: 20px;
    position: fixed;
    top: 65px;
    z-index: 3;
    float: left;
    background: #080808;
    box-shadow: 5px 0 8px -5px #5e5e5e;
}
.left-content li a {
    color: #f1f1f1;
    display: block;
    padding: 15px 25px 15px 20px;
}
.left-content li a:hover, .left-content li a:focus {
    background: #2F3133;
}
.submenu {
    /*top: 100%;*/
    width: 100%;
    display: none;
}
.submenu li a {
    padding: 12px 12px 12px 40px;
    background: #2F3133;
}
.submenu li a:hover {
    background: #545454;
}
.content {
    width: 84%;
    float: right;
    margin-top: 65px;
    padding: 30px 30px 30px 50px;
}
.content-heading {
    width: 100%;
    padding: 0 15px 15px 0;
    border-bottom: #adadad 1px solid;
    margin-bottom: 20px;
}
.content-heading h3 {
    margin-bottom: 5px;
}
.box {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 4px 6px 5px -5px #b7b7b7;
    margin-bottom: 30px;
}

.colorpicker-2x .colorpicker-saturation { width: 200px; height: 200px; }
.colorpicker-2x .colorpicker-hue, .colorpicker-2x .colorpicker-alpha { width: 30px; height: 200px; }
.colorpicker-2x .colorpicker-color, .colorpicker-2x .colorpicker-color div { height: 30px; }