/* == Style == */





/*Table*/
.table {
    width: 100%;
    margin: 0;
}
.table thead {
    background: #FFFFFF;
}
.table tr th {
    text-align: center;
}
/*Dropdown*/
.dropbtn:hover, .dropbtn:focus {
    text-decoration: none;
    color: #949494
}
.dropdown {
    position: relative;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
}

.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: none;
}
.dropdown-content li a:hover {
    background: #f1f2f2;
    color: #000000;
}

/*Select*/
.select-btn {
    width: 100%;
    padding: 12px;
    display: inline-block;
    outline: none;
}
.select-btn:hover {
    outline: none;
}
.select-btn i {
    text-align: right;
}

/* --- Header --- */
header {
    width: 100%;
    max-height: 70px;
    position: fixed;
    z-index: 9;
    background: transparent;
}
header.scrolled {
    background: #252525;
    box-shadow: 5px 0 5px rgba(0,0,0,0.5);
}
header li a {
    display: block;
    padding: 25px;
    text-align: center;
    float: left
}
header li a:hover {
    border-bottom: 1px solid #FFFFFF;
}
header li a:focus {
    color: #9d9d9d;
}
header img {
    width: 58%;
}
.search {
    background: #f1f1f1;
    border-radius: 50px;
    margin-top: 10px;
}
.search input {
    width: 100%;
    font-size: 16px;
    color: #606161;
    border: none;
    padding: 12px 0 10px 30px;
    background: transparent;
    vertical-align: middle;
}
.search button {
    font-size: 18px;
    color: #606161;
    padding: 10px;
    background: transparent;
    border: none;
}

/* --- Home --- */
#home {
    width: 100%;
    background: url("../image/bg.jpg") no-repeat center;
    background-size: cover;
}
.home-content {
    width: 100%;
    height: 50%;
    text-align: center;
    /*position: absolute;*/
    padding-top: 8%;
    padding-bottom: 8%;
}
.home-content h1 {

}
.home-content a.color {
    width: 48%;
    border: #f1f1f1 5px solid;
    color: #f1f1f1;
}
.home-content a.color:hover {
    background: #f1f1f1;
    color: #5e5e5e;
}
.home-content a.pattern {
    width: 48%;
    border: #E3A712 5px solid;
    color: #E3A712;
}
.home-content a.pattern:hover {
    background: #E3A712;
    color: #FFFFFF;
}
/* --- Color --- */

#color {
    padding: 80px 0 60px 0;
}
#pattern {
    background: #f1f2f2;
    padding: 80px 0 60px 0;
}
#contact {
    width: 100%;
    padding: 50px 0 50px 0;
    background: #000000;
}
.icon {
    font-size: 40px;
}
#content {
    width: 100%;
    padding: 120px 0 50px 0;
}
.comment {
    padding-bottom: 15px;
    border-bottom: #e8e8e8 2px solid;
}
.comment textarea {
    background: #ffffff;
    width: 100%;
    color: #606161;
    border: #e7e7e7 1px solid;
    padding: 10px;
}
/*.menu li a {*/
    /*font-size: 16px;*/
    /*padding: 15px;*/
    /*border-bottom: #adadad 1px solid;*/
/*}*/

#footer {
    width: 100%;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
}

#header-information {
    width: 100%;
    max-height: 300px;
    background: url("../image/mountain.jpg");
}

